#main-content {
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 0;
    min-height: 95vh;
}

.page-title {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 4.5em;
    text-align: center;
    margin-top: 2%;
}

.provider {
    width: 100%;
    margin-bottom: 1.5rem;
}

.is-width-100 {
    width: 100%;
}

.card-discord {
    background-color: #5865F2;
}

.card-github {
    background-color: black;
}

.grid-wrapper {
    display: grid;
    grid-gap: 1rem;
}

@media only screen and (min-width: 768px) {
    .grid-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media only screen and (max-width: 768px) {
    .grid-wrapper {
        grid-template-columns: 1fr;
    }
}
