{% extends "base.jinja2" %}
{% block title %}Aperture: Verify your peer identity with ease{% endblock %}
{% block description %}Aperture allows you to easily verify the identity of a peer, ideal for proving account ownership of a GDPR data subject request.{%endblock%}
{% block robots %}index, nofollow{% endblock %}

{% block content %}
    <div class="content is-large is-size-5-mobile pt-5">
        <p><b>Aperture</b> is a service by Starchild Systems that allows you to verify your identity on the internet. It is a free service that is open to everyone.</p>
        <p>Select below the provider you would like someone to verify their identity with. You will get a unique link and unique code that you can share with them.
        Once they log in with the identity provider, they will receive a token they can send you back.</p>
        <p>The combination of the token and the code will allow you to verify their identity.</p>
    </div>

    <div class="grid-wrapper pt-5">
        {% for provider in providers.values() %}
        <a class="card provider is-flex is-align-items-center is-justify-content-center card-{{ provider.identifier }}" href="/generate/{{ provider.identifier }}">
            <div class="card-content is-flex is-width-100">
                <div class="content is-width-100 p-5">
                    <p class="image">
                        <img src="/static/brands/{{ provider.brand_filename }}">
                    </p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="block"></div>
{% endblock %}
