{% extends "base.jinja2" %}
{% block title %}Aperture: Terms of Services{% endblock %}
{% block description %}The Terms of Services (ToS) for the Aperture service.{% endblock %}

{% block content %}
<div class="content is-medium pt-5">
    <p>Last updated: 2022-11-16</p>
    <p>
    By using Aperture, you have read, understood, and agreed to be bound by all of these Terms of Use.
    If you do not agree to these Terms of Use, you are prohibited from accessing or using Aperture.
    </p>
    <p>
    Aperture is intended for users who are at least 13 years old. If you are minor in your juridiction, your
    guardian must read and agree to these Terms of Use on your behalf before you can access Aperture.
    </p>
    <p>As a user of Aperture you agree not to:</p>
    <ul>
        <li>Access Aperture in an automated manner (such as through a script, bot, macro or any similar automation tool).</li>
        <li>Use Aperture for any illegal or unauthorized purpose.</li>
        <li>Use Aperture to violate any local, state, national, or international law.</li>
        <li>Use Aperture to impersonate any person or entity.</li>
        <li>Use Aperture to send viruses or any other type of malicious code.</li>
        <li>Use Aperture to interfere with or disrupt Aperture or the servers and networks that host Aperture.</li>
        <li>Use Aperture to attempt to gain unauthorized access to Aperture or its related systems or networks.</li>
        <li>Use Aperture to create a false identity for the purpose of misleading others.</li>
    </ul>
    <p>We reserve the right to terminate your access to Aperture at any time, without notice, for any reason whatsoever.</p>
    <p>
    We reserve the right to modify these Terms of Use at any time. If we do this, we will post the changes on this page
    and update the "Last updated" date at the top of this page. It is your responsibility to check this page periodically
    for changes. Your continued use of Aperture after we post any modifications to these Terms of Use on this page will
    constitute your acknowledgment of the modifications and your consent to abide and be bound by the modified Terms of Use.
    </p>
    <p>
    Please review our <a href="/privacy">privacy policy</a>. By using Aperture, you agree to this privacy policy,
    which is incorporated in these terms.
    </p>
    <p>
    The information contained in this website is for general information purposes only. The information is provided by
    Starchild Systems and while we endeavour to keep the information up to date and correct, we make no representations or
    warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability
    with respect to the website or the information, products, services, or related graphics contained on the website for any purpose.
    Any reliance you place on such information is therefore strictly at your own risk.
    </p>
    <p>
    In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage,
    or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.
    </p>
    <p>
    Through this website you are able to link to other websites which are not under the control of Starchild Systems. We have no control
    over the nature, content and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or
    endorse the views expressed within them.
    </p>
    <p>
    Every effort is made to keep the website up and running smoothly. However, Starchild Systems takes no responsibility for,
    and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.
    </p>
    <p>In order to send any complaint or question to us, please use send an email to <a href="mailto:contact@starchild.systems">contact@starchild.systems</a>.</p>
</div>
{% endblock %}
